.content-inner {
  width: 100%;
  overflow-x: hidden !important;
  background: #F3F3F3;

  .card {
    // min-height: 360px;
  }

  .bg-orange {
    background-color: #FFDFB4;
  }
}

.top_bar {
  height: 120px;
  display: flex;
  align-items: center;
}

.active {
  background-color: #FF9F1C;
}

.recom_button {
  background: #CB997E;
  border: navajowhite;
  border-radius: 20px;
  font-weight: 100;
  font-family: 'RotaLight', sans-serif;
}

@media only screen and (max-width: 760px) {
  // .w-50 {
  //   width: 100% !important;
   
  // }
  // .wrap{
  //   flex-wrap: wrap;
  // }
}
@media only screen and (min-width: 992px) and (max-width: 1140px) {
  .wrap{
    flex-wrap: wrap;
  }
  .w-50 {
    width: 100% !important;
   
  }
}