
 .active{
  background-color: #FF9F1C;
 }
 .fs-15{
  font-size: 15px;
 }
  .content-inner {
    width: 100%;
    overflow-x: hidden !important;
    background: #F3F3F3;
  }
  @media only screen and (max-width: 760px) {
    .sidebar {
      display: none !important;
    }
  }
  ::ng-deep .p-tieredmenu {
    border: none;
  }
  ::ng-deep .p-tieredmenu:hover {
    border: none;
  }
  .fw-500{
    font-weight: 500;
  }
  .overview{
    .card{
      min-height: 180px;
    }
    .chart_card{
      min-height: 360px !important;
      position: relative;
    }
    .next_icon {
      position: absolute;
      right: 15px;
      bottom: 20px;
  }
  }
  .p-dropdown.p-component{
    border-radius: 30px !important;
    height: 50px !important;
    display: flex !important;
    align-items: center !important;
  }
  canvas {
    height: 267px !important;
    width: 100% !important;
}