// sidebar close styles
.small-sidebar li span {
  display: none;
}
.small-sidebar {
  .sidebar-header {
    display: block !important;
    text-align: center;
  }
  .pi {
    font-size: 20px;
  }

  transition: all linear 0.2s;
  .site-name {
    display: none !important;
  }
  width: 4.2rem;
  text-align: center;
}
.large-sidebar {
  transition: all linear 0.2s;
  width: 17rem !important;

  .site-name1 {
    display: none !important;
  }
}
.sidebar {
  background-color: #ff9f1c;
  top: 0;
  left: 0;
  height: 100vh;
  position: sticky;
  display: flex;
  flex-direction: column;
  // background: #ffffff;
  color: #000;
  border: 0 none;
  box-shadow: 0 1px 3px rgb(0 0 0 / 30%);

  .sidebar-header {
    padding: 1.25rem 0.9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sidebar-content {
    //   border-top: 1px solid #eee;
    padding: 0.2rem;
    position: relative;
  }
  .close_sidebar {
    position: absolute;
    right: -12px;
    top: 60%;
    background-color: #232323;
    border-radius: 10px;
  }
}
.container-fluid {
  position: absolute;
  left: 15rem;
  width: calc(100% - 20rem);
}
.sidebar_nav {
  margin: 0;
  padding: 0.75rem 1.25rem;
  border: 0 none;
  transition: box-shadow 0.2s;
  border-radius: 0;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  user-select: none;
  font-weight: 500;
  margin: 5px 0;
}

.sidebar .sidebar-header + .sidebar-content {
  padding-top: 0;
}
.sidebar-footer {
  margin-top: auto;
}
.sidebar .sidebar-footer {
  padding: 1.25rem;
}
.sidebar_ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.active-link {
  color: white;
  height: 0px;
  transition: all linear 0.2s;
}
.hover-class {
  background-color: #c0c0c0;
  color: grey;
  border-radius: 15px;
}
input.p-inputtext.p-component.p-element.search-text {
  border: none !important;
}
.active {
  background-color: #ff9f1c;
}
.fs-15 {
  font-size: 15px;
}
.content-inner {
  width: 100%;
  overflow-x: hidden !important;
  background: #f3f3f3;
}
@media only screen and (max-width: 760px) {
  .sidebar {
    display: none !important;
  }
}

::ng-deep .p-tieredmenu {
  border: none;
}
::ng-deep .p-tieredmenu:hover {
  border: none;
}
.fw-500 {
  font-weight: 500;
}
.active-link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 5px; /* Adjust the width of the left border as needed */
  background-color: #fff; /* Replace with your desired border color */
}

// .active-class {
//   position: relative;  /* Make sure the positioning context is set to relative */
//   // padding-left: 10px;  /* Adjust the padding to leave space for the border */
// }
.active-link .parentItem,
.active-link .icon-item {
  color: #f9f5f5 !important;
  position: relative; /* Make sure the positioning context is set to relative */
}

/* Add your other styles, such as active styles, here */

.active-link::before {
  background-color: #fff; /* Replace with your desired active border color */
}

.sidebar a span,
.icon-item {
  color: #111112;
}

.sidebar a {
  text-decoration: none;
}
