.p-dropdown.p-component{
    border-radius: 30px !important;
    height: 40px !important;
    display: flex !important;
    align-items: center !important;
  }
  .p-dropdown .p-dropdown-label {
 font-size: 15px !important;
}