<div class="content-inner">
  <div class="px-4 pb-3 ask_anything">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="my-3 text-center">
            <span class="rotameduim my-2 text-center" style="color: #a69d9d"
              >We have integrated an AI that is trained on all your customers'
              reviews. <br />
              You can ask anything,e.g.What do people think about my pool?
            </span>
          </div>

          <div class="card my-2 p-3 border-none" style="border-radius: 20px">
            <div class="custom-search-bar justify-content-center">
              <i class="pi pi-search custom-search-icon"></i>
              <input
                type="text"
                pInputText
                class="custom-search-input"
                placeholder="Ask Anything"
                (keyup.enter)="onSearch($event)"
              />
            </div>
            <div
              class="card border-none question_card my-4 p-3"
              style="border-radius: 20px"
            >
              {{ searchedDataResult }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
