<div class="content-inner">
  <div class="px-4 pb-3 ask_anything">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="card my-4 p-3 border-none" style="border-radius: 20px">
            <div class="custom-search-bar justify-content-center">
              <i class="pi pi-search custom-search-icon"></i>
              <input
                type="text"
                pInputText
                class="custom-search-input"
                placeholder="Ask Anything"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
