.card {
  height: auto;
  @media only screen and (max-width: 760px) {
    height: auto;
  }
}
.top_bar {
  height: 120px;
  display: flex;
  align-items: center;
}
.question_card {
  max-height: 200px;
  font-family: sans-serif;
  width: 70%;
  margin: 0 auto;
  background-color: #f3a439;
  margin-bottom: 10px;
  border-radius: 25px;
  @media only screen and (max-width: 760px) {
    width: 100%;
  }
}
.answer_card {
  max-height: auto;
  font-family: sans-serif;
  width: 70%;
  margin: 0 auto;
  background-color: #efce9b;
  // overflow-y: auto;
  border-radius: 25px;

  @media only screen and (max-width: 760px) {
    width: 100%;
  }
}
.custom-h2 {
  font-size: 16px !important;
}
@media only screen and (max-width: 760px) {
  .w-50 {
    width: 100% !important;
  }
  .wrap {
    flex-wrap: wrap;
  }
}
.custom-divider {
  background-color: red;
}
